{% load static %}
{% load add_class_to_input %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recunoastere expresii matematice simple</title>

    <!-- Custom fonts for this template-->
    <link href="{% static "bootstrap_template/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static "bootstrap_template/css/sb-admin-2.min.css" %}" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-5 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bine ai revenit!</h1>
                                </div>
                                <form class="user" method="POST">
                                    {% csrf_token %}

                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    <div class="form-group">
                                        {{ form.username.errors }}
                                        {{ form.username|addcss:"form-control form-control-user,Nume utilizator" }}
                                    </div>

                                    <div class="form-group">
                                        {{ form.password.errors }}
                                        {{ form.password|addcss:"form-control form-control-user,Parola" }}
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'register' %}">Creeaza un cont nou!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src={% static "bootstrap_template/vendor/jquery/jquery.min.js" %}></script>
<script src={% static "bootstrap_template/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>

<!-- Core plugin JavaScript-->
<script src={% static "bootstrap_template/vendor/jquery-easing/jquery.easing.min.js" %}></script>

<!-- Custom scripts for all pages-->
<script src={% static "bootstrap_template/js/sb-admin-2.min.js" %}></script>

</body>

</html>
