{% extends 'base.html' %}
{% load add_class_to_input %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Adauga o expresia noua</h1>
    </div>

    <div class="row">
        <form class="drawing_form" method="post">
            {% csrf_token %}
            <div id="drawing_here" class="border-bottom-primary" style="width: 1000px; height: 180px;"></div>
            <br>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <div class="form-group">
                {{ form.name.errors }}
                {{ form.name|addcss:"form-control form-control-user,Descrierea expresiei" }}
            </div>

            <button type="submit" class="btn btn-primary btn-user btn-block">Adauga</button>
        </form>

    </div>



    <script>
        let myBoard = new DrawingBoard.Board("drawing_here", {
            size: 9,
            controls: [
                {DrawingMode: {filler: false}},
                'Navigation',
            ],
            enlargeYourContainer: true,
        });

        $('.drawing_form').on('submit', function (e) {
            let img = myBoard.getImg();
            console.log(img);
            $(this).find('input[name=image]').val(img);
            myBoard.clearWebStorage();
        })
    </script>
{% endblock %}