{% extends 'base.html' %}

{% block  content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Expresiile tale</h1>
    </div>

    {% for exp in exps %}
        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-6">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Expresia - {{ exp.name }}</h6>
                        <div class="dropdown no-arrow">
                            <a href="{% url 'delete_expression' pk=exp.pk %}" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                            </a>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body border-bottom-primary">
                        <div class="text-center">
                            <img src="{{ exp.image.url }}" width="90%">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-4">
                {% if exp.evaluate == 0 %}
                    <div class="card bg-success text-white shadow">
                        <div class="card-body">
                            <div class="text-center">
                                <br>
                                Textul recunoscut: {{ exp.predicted }} <br>
                                Ai rezolvat expresia corect ! <br>
                                <br>
                            </div>
                        </div>
                    </div>
                {% elif exp.evaluate == 1 %}
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            <div class="text-center">
                                <br>
                                Textul recunoscut: {{ exp.predicted }} <br>
                                Ai rezolvat expresia gresit ! <br>
                                <br>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            <div class="text-center">
                                Textul recunoscut: {{ exp.predicted }} <br>
                                Probabil expresia este incompleta.
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div>
        </div>
    {% endfor %}


    {#    {% for exp in exps %}#}
    {#        <figure>#}
    {#            <img src="{{ exp.image.url }}">#}
    {#            <figcaption> {{ exp.predicted }}</figcaption>#}
    {#        </figure>#}
    {#    {% endfor %}#}
{% endblock %}