{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drawing</title>

    <script src="{% static "jquery-3.4.0.min.js" %}"></script>
    <script src="{% static "drawingboard.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "drawingboard.min.css" %}">
</head>
<body>

Welcome, {{ user.username }} !

<div>
    <a href="{% url 'logout' %}">  Logout </a> <br>
</div>


<form class="drawing_form" method="post">
    {% csrf_token %}
    <div id="drawing_here" style="width: 1000px; height: 180px;"></div>

    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

<br>

{% for exp in exps %}
    <figure>
        <img src="{{ exp.image.url }}">
        <figcaption> {{ exp.predicted }}</figcaption>
    </figure>
{% endfor %}

<script>
    let myBoard = new DrawingBoard.Board("drawing_here", {
        size: 9,
        controls: [
            {DrawingMode: {filler: false}},
            'Navigation',
        ],
        enlargeYourContainer: true,
    });

    $('.drawing_form').on('submit', function (e) {
        let img = myBoard.getImg();
        console.log(img);
        $(this).find('input[name=image]').val(img);
        myBoard.clearWebStorage();
    })
</script>

</body>
</html>